.carousel-wrapper {
    width: 50%;
    margin: auto;
    padding: 40px 0;
    height: auto;
}

.fruit-card {
    text-align: center;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.fruit-card img {
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 12px;
    
}

.fruit-card h3 {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
}